body {
	width: 1200px;
	max-width: 90%;
	margin: 0 auto;
}

h1, h2 {
	text-align: center;
}

.buttonholder {
	text-align: center;
}

.footer {
	position: relative;
	margin-bottom: -150px;
	height: 150px;
	clear: both;
	padding-top: 160px;
}

.center {
	margin: 0 auto;
}